{{ define "main" }}
    {{ range .Site.Pages}}
        {{ if and (eq .Section "home") (not (eq .Path "home/_index.md"))}}
            <div class="
                grid
                grid-cols-[10rem, auto]
                md:grid-cols-[auto,auto]

                gap-5
                grid
                bg-white
                p-4 mb-4
                border-4 border-shs
            "
            >


                <!-- normale bild -->
            {{if isset .Params "image" }}


                <!-- links -->
                {{if eq .Params.image_align "left"}}
                    <img
                            class="
                            mx-auto
                            w-40 h-40
                            border-2 border-shs
                            {{.Params.image_border}}
                        "
                            src="{{.Params.image}}">

                    <div class="w-1/1">
                        <h1>{{.Title}}</h1>
                        {{.Content}}
                    </div>


                {{else if eq .Params.image_align "right"}}

                    <div class="w-1/1">
                        <h1>{{.Title}}</h1>
                        {{.Content}}
                    </div>
                    <img class="
                                mx-auto
                                w-40 h-40
                                border-2 border-shs
                                {{.Params.image_border}} "
                         src="{{.Params.image}}">

                {{end}}

                {{else}}

                <div class="w-1/1">
                    <h1>{{.Title}}</h1>
                    {{.Content}}



                    <div class="grid

                grid-cols-1
                grid-gap-1
                sm:grid-cols-2
                md:grid-cols-4 ">
                        {{if isset .Params "icons" }}
                        {{ range .Params.icons}}
                        <div >
                            <img class="w-20" src="{{.icon}}"/>

                            {{.text}}
                        </div>
                        {{end}}
                        {{end}}
                    </div>
                </div>

            {{end}}



            </div>
        {{end}}
    {{end}}
{{ end }}
