{{ define "main" }}

    <div class="
                grid 
                content-center
                col-span-2
                bg-white 
                p-4 mb-4 
                border-4 border-shs
 
    ">

        <h1>{{ .Title }}</h1>
        {{ .Content }}

        {{ $pics := slice }}
        {{ range readDir "/static/pic/gallery/pics" }}
            {{ $pics = $pics | append .Name }}
        {{ end }}


        <div id="gallery">
        </div>


        <script src="/js/gallery.js"></script>

        <script>
            const pictureString = {{ $pics | jsonify }};

            const pictures = JSON.parse(pictureString).map(n => "/pic/gallery/pics/" + n);

            let state = initGalery({
                imageIndex: 0,
                pictures: pictures,
                source: image,
                setSource: setPicture
            })
        </script>
    </div>


{{ end }}
