<footer class="
    px-4 pb-4 text-white
    grid
    grid-cols-1
    md:grid-cols-3
    ">


        {{range .Site.Pages}}
            {{if and (eq .Section "footer") (not (eq .Path "footer")) }}
                <div>
                    <strong class="text-shs">
                        {{.Title}}
                    </strong>
                    {{.Content}} 

                    {{range .Params.Icons}}
                        <img class="w-10 h-10 mr-2 inline" src="{{.}}"\>
                    {{end}}
                </div>
            {{end}}
        {{end}}

</footer>
