<nav class="px-4">
         

        <a href="tel:{{.Site.Params.phone}}">
                {{.Site.Params.phone}}
        </a>

        {{ range .Site.Params.sm }}
            <a href="{{.link}}">
                <img class="w-5 h-5 inline" src="{{.image}}" \> 
            </a>
        {{end}}

        <a href="/home">
            <img class="max-w-[45%] align-center mx-auto" src="/pic/logo_company.svg">
        </a>


    <ul>
        {{ range .Site.Menus.nav }}
        <li class="
            pr-10 pb-2 inline-block
            hover:text-pink-400
        ">
            <a class="text-white" href="{{.URL}}">{{.Name}}</a>
        </li>
        {{end}}
    </ul>
</nav>