{{ define "main" }}
    {{ range .Pages }}

        <div class="
                grid 
                sm:grid-flow-col 
                gap-5 auto-rows-max
                bg-white 
                p-4 mb-4 
                border-4 border-shs
            "
        >

            <div class="grid grid-cols-1">
                <h1>
                    {{ .Title }}
                </h1>

                {{ if isset .Params "csv" }}
                    {{ $file := .Params.csv }}
                    {{ with readFile $file }}
                        {{ with . | transform.Unmarshal }}

                            <table>
                                <thead>
                                {{ range index . 0 }}
                                    <th class="border-b-2 boder-shs">{{ . }}</th>
                                {{ end }}
                                </thead>
                                <tbody>
                                {{ range after 1 . }}
                                    <tr class="border-b-2 boder-shs">
                                        {{ range . }}
                                            <td>{{ . }}</td>
                                        {{ end }}
                                    </tr>
                                {{ end }}
                                </tbody>
                            </table>
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{ .Content }}

            </div>

        </div>
    {{ end }}

{{ end }}